html {
    height:100%;
    margin:0;
    //background-color:#f0f0f0;
    //background-color:#FCECD9;
	font-family:sans-serif;
	line-height: 1.3;
}
a {
	text-decoration:none;
}
kbd {
	background-color: whitesmoke;
	padding-left: 0.5ex;
	padding-right: 0.5ex;
	padding-top: 0.1ex;
	padding-bottom: 0.1ex;
	border-radius: 4px;
	border: 1px solid dimgray;
}
body {
	padding-bottom: 5em;
	padding-left: 0.1em;
	padding-right: 0.1em;
	//border-left: 1rem solid #f0f0f0;
	//border-right: 1rem solid #f0f0f0;
}
aside {
    width: 256px;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #5c5c5c;
    font-style: italic;
    color: #202020;
}
aside > p {
    margin: .5rem;
}
.gen {
	font-family:sans-serif;
}
.head {
	width:100%;
	//border-bottom: 0.1em solid #f0f0f0;
    height: 120px;
    margin:0;
}
.molview {
    border:solid #F0F0F0;
    margin-left:auto;
    margin-right:auto;
}
.command {
    height:95%;
}
.side { 
	font-family:sans-serif;
    left:0;
    bottom:0;
    top:120px;
    right:15%;
    width:15%;
    height:calc(100% - 150px);
    margin:0;
} 
.side-content {
	font-family:sans-serif;
    margin:0;
    height:100%;
    width:100%;
}
.command-description { 
	font-family:sans-serif;
	position:absolute;
    margin-left:15%;
    top:120px;
}
.menulike {
	white-space: nowrap;
	font-size: 90%;
	font-family:sans-serif;
	background-color: #F0F0F0;
	color: #000000;
	border-top: 2px solid #F0F0F0;
	border-right: 2px solid #F0F0F0;
	border-bottom: 2px solid #F0F0F0;
	border-left: 2px solid #F0F0F0;
}
.buttonlike {
	white-space: nowrap;
	font-size: 90%;
	font-family:sans-serif;
	background-color: #F0F0F0;
	color: #000000;
	padding: 1px 3px 1px 3px;
	border-top: 2px solid #FFFFFF;
	border-right: 2px solid #A0A0A0;
	border-bottom: 2px solid #A0A0A0;
	border-left: 2px solid #FFFFFF;
}
.cxcmd {
	background-color: gainsboro;
	padding-left: 1ex;
	padding-right: 1ex;
	padding-top: 0.2ex;
	padding-bottom: 0.2ex;
	border-radius: 2px;
	font-family: monospace;
}
input {
	background-color: #00ff00;
}